.txt {
  padding: 0;
  margin: 0 0 40px 0;
}
.txt > p {
  margin:0;
  font-size: 11px;
  line-height: 1.5;
}
.txt .title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
}
.logo-MSF {
  height: 45px;
  margin-top: 2px;
}
.hat {
  background: #ee342a;
  color: #fff;
  margin-bottom: 40px;
  display: block;
  clear: both;
}
p.logged {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 11px;
  text-align: right;
  padding-right: 15px;
}

.bg-azul {
  background: #eaeff2;
  padding: 30px 0;
}

.bg-verde {
  background: #e4efe9;
  padding: 30px 0;
}

.bg-viola {
  background: #e4e6ee;
  padding: 30px 0;
}

.bg-transparent {
  background: #ffffff;
  padding: 30px 0;
}

h3.small-title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px solid #222;
    display: inline-block;
    margin-bottom: 30px;
}

h4.small-title {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.5px;
    display: inline;
    line-height: 24px;
}
